.resolucion {
    width: 10%;
    text-align: right;
    }
/**Movil**/
@media (max-width: 767px) {
    .desktop {
        display: none;
    }
    .tablet {
        display: none;
    }
    
}
/**Tablet**/
@media (min-width: 768px) and (max-width: 990) {
    .desktop {
        display: none;
    }
    .movil {
        display: none;
    }
}
/**Escritorio**/
@media (min-width: 991px){
    .tablet {
        display: none;
    }
    .movil{
        display: none;
    }
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
    background:rgba(0,0,0, 0.6)url(21.JPEG);
    background-size: cover;
    background-blend-mode: darken;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: auto;
	padding: 40px 0;
}

.selectbox {
	width: 50%;
	margin: auto;
	position: relative;
}

.select {
	background: rgba(2, 29, 55, 0.911);
	width: 100%;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, .16);
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: .2s ease all;
	margin-bottom: 30px;
	padding: 30px;
	position: relative;
	z-index: 200;
	border: 2px solid transparent;
}

.select.active,
.select:hover {
	box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);
	border: 2px solid #213f8f;
}

.select.active:before {
	content: "";
	display: block;
	height: 0;
	width: 0;
	border-top: 15px solid #213f8f;
	border-right: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid transparent;
	position: absolute;
	bottom: -30px;
	left: calc(50% - 15px);
}

.select i {
	font-size: 30px;
	margin-left: 30px;
	color: #213f8f;
}

.titulo {
	margin-bottom: 10px;
	color: rgb(240, 240, 240);
	font-weight: 600;
	font-size: 30px;
}

.descripcion {
	font-size: 18px;
	color: #9d9d9d;
}

.opciones {
	background: rgba(0,0,0,0.7);
	border-radius: 10px;
	box-shadow: 0px 5px 10px rgba(0,0,0,.16);
	max-height: 400px;
	overflow: auto;
	z-index: 100;
	width: 100%;
	display: none;
}

.opciones.active {
	display: block;
	animation: fadeIn .3s forwards;
}

@keyframes fadeIn {
	from {
		transform: translateY(-200px) scale(.5);
	}
	to {
		transform: translateY(0) scale(1);
	}
}

.contenido-opcion {
	width: 100%;
	display: flex;
	align-items: center;
	transition: .2s ease all;
}

.ventana {
	background: #f3f3f4;
	width: 600px;
	align-items: center;
	color: rgba(241, 228, 228, 0.16);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-align: center;
	padding: 33px;
	min-height: 500px;
	border-radius: 22px;
	position: absolute;
	left: 30%;
	top: 25%;
	display: none;
}
#cerrar {
	position: absolute;
	right: 5px;
	top: 1px;
}